---
import "../styles/global.css";
import Background from "../components/Background.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import Certificates from "../components/Certificates.astro";
import Interests from "../components/Interests.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="bg-cream-light text-text-main antialiased">
    <Background />

    <main>
      <Hero />
      <Skills />
      <Projects />
      <Education />
      <Certificates />
      <Interests />
      <Contact />
    </main>

    <Footer />
  </body>
</html>
